<div class='profile'>
  <h2> Spotify.Personalization Test </h2>

  <h3> My Top Artists </h3>
  <ul>
    <%= for artist <- @artists do %>
      <li><%= artist.name %></li>
    <% end %>
  </ul>

  <h3> My Top Tracks </h3>
  <ul>
    <%= for track <- @tracks do %>
     <li><%= track.name %></li>
    <% end %>
  </ul>
</div>

