<div class="jumbotron">
  <h3> Playlists </h3>
  <ul>
  </ul>
</div>

<a href="http://localhost:4000/authorize">Authorize</a>

<h4> Feature Playlists </h4>
<ul>
  <%= for playlist <- @playlists do %>
    <li>
      <%= playlist.name %>
    </li>
  <% end %>
</ul>


<h4>Get Playlist</h4>
<p><%= @playlist.name %></p>

<h4> Added Tracks snapshot </h4>
<p> <%= @snapshot %> </p>


